body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#3d729b;
    text-align:center;
    padding:12px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:rgb(16, 15, 39);
}

.container{
    width:80%;
    margin:auto;
}

section{
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:8px;
}

h2{
    color:#2c3e50;
}

img{
    width:150px;
    height:150px;
    border-radius:50%;
    display:block;
    margin-bottom:15px;
}

ul{
    padding-left:20px;
}

.project{
    background:#ecf0f1;
    padding:15px;
    margin-top:10px;
    border-left:5px solid #3498db;
}

footer{
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}