{% extends 'crud/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section>
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <span class="error">{{ field.errors.0 }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-add">Save Project</button>
        <a href="{% url 'project_list' %}" class="btn btn-cancel">Cancel</a>
    </form>
</section>
{% endblock %}
